<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Client</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/flexboxgrid/6.1.1/flexboxgrid.min.css" type="text/css" />
    <link rel="stylesheet" href="client.css">
  </head>
  <body>
    <app-header
        default-section="defaultSection"
        navigate-handler="navigate"></app-header>
    <create-user-screen ng-if="state == STATE_CREATE_USER"
                        user-created-handler="onUserCreated"></create-user-screen>

    <entry-screen ng-if="state == STATE_ENTRY"></entry-screen>
    <footer>
      Developed by W. Brian Gourlie.  Source available on
      <a href="https://github.com/bgourlie/noBS" target="_blank">GitHub</a>.
      <a href="#" id="factory-reset" class="text-small" style="color: darkred">Factory Reset</a>
    </footer>
    <script type="application/dart" src="client.dart"></script>
    <script data-pub-inline src="packages/browser/dart.js"></script>
  </body>
</html>
