html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1.4;
  font-size: 13px;
}
@media screen and (min-width: 500px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 570px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 620px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 680px) {
  html {
    font-size: 17px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: 19px;
  }
}
@media screen and (min-width: 860px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 920px) {
  html {
    font-size: 21px;
  }
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
p {
  font-size: 1rem;
}
body {
  background-color: #F8F8F8;
  font-weight: normal;
  margin: 5px 15px;
  /* Controls */
}
body > header {
  margin-bottom: 10px;
}
body > header h3 {
  display: inline-block;
  margin: 0;
}
body > footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  padding: 2px 5px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
body .ng-cloak,
body .ng-hide {
  display: none !important;
}
body input[type=text],
body input[type=number],
body button,
body select {
  border: 1px solid #AAA;
  box-sizing: border-box;
  outline: 0;
  padding: 5px 10px;
  font-size: 1rem;
  background: white;
}
body input[type=text]:hover:enabled,
body input[type=number]:hover:enabled,
body button:hover:enabled,
body select:hover:enabled {
  box-shadow: rgba(160, 160, 160, 0.5) 1px 1px 1px 0;
  color: #000;
  border-color: #909090;
}
body input[type=text]:focus:enabled,
body input[type=number]:focus:enabled,
body button:focus:enabled,
body select:focus:enabled {
  outline: 0;
  box-shadow: rgba(160, 160, 160, 0.5) 1px 1px 1px 0;
}
find-widget {
  display: block;
}
find-widget find-box {
  margin-top: 5px;
  text-align: center;
}
[find-result] {
  display: block;
}
[find-result] .container {
  padding: 3px;
}
[find-result] .container header.title {
  display: inline-block;
}
[find-result] .container:hover {
  background-color: lightgoldenrodyellow;
}
[find-result] tag {
  margin-right: 5px;
}
[find-result] tag:last-of-type {
  margin-right: 0;
}
[find-result] .matchInfo {
  font-size: 0.8rem;
}
[find-result] .synonyms {
  font-size: 0.8rem;
  margin: 0;
}
[find-result] .synonym::after {
  content: ', ';
}
[find-result] .synonym:last-of-type::after {
  content: '';
}
find-widget {
  display: block;
}
find-widget input[type=text].term {
  width: 100%;
}
find-widget ul {
  padding: 0;
}
find-widget li {
  list-style-type: none;
  padding-bottom: 5px;
}
muscle-man {
  display: block;
}
record-widget {
  display: block;
}
record-widget #buttons {
  padding-top: 10px;
}
tag {
  display: inline-block;
  padding: 4px;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), inset -1px 0 0 0 rgba(255, 255, 255, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, 0), inset 1px 0 0 0 rgba(0, 0, 0, 0.2);
  background-color: powderblue;
  cursor: pointer;
}
version-info {
  display: inline;
}
version-info span {
  font-style: italic;
}
version-info p {
  margin: 0;
}
