// The contents of this file are subject to the Common Public Attribution
// License Version 1.0. (the "License"); you may not use this file except in
// compliance with the License. You may obtain a copy of the License at
// https://raw.githubusercontent.com/bgourlie/noBS/master/LICENSE.
// The License is based on the Mozilla Public License Version 1.1, but Sections
// 14 and 15 have been added to cover use of software over a computer network
// and provide for limited attribution for the Original Developer. In addition,
// Exhibit A has been modified to be consistent with Exhibit B.
//
// Software distributed under the License is distributed on an "AS IS" basis,
// WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
// the specific language governing rights and limitations under the License.
//
// The Original Code is noBS Exercise Logger.
//
// The Original Developer is the Initial Developer.  The Initial Developer of
// the Original Code is W. Brian Gourlie.
//
// All portions of the code written by W. Brian Gourlie are Copyright (c)
// 2014-2015 W. Brian Gourlie. All Rights Reserved.

@fontSizeSmall: .8rem;
@fontSizeNormal: 1rem;
@fontSizeMedium: 1.2rem;

html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 14px;

  .invisible-xs {
    display: none;
    visibility: hidden;
  }

  .visible-xs {
    display: block;
    visibility: visible;
  }

  @media screen and (min-width: 48em){
    font-size: 16px;

    .invisible-sm {
      display: none;
      visibility: hidden;
    }

    .visible-sm {
      display: block;
      visibility: visible;
    }
  }
  @media screen and (min-width: 62em){
    font-size: 18px;

    .invisible-md {
      display: none;
      visibility: hidden;
    }

    .visible-md {
      display: block;
      visibility: visible;
    }
  }
  @media screen and (min-width: 75em){
    font-size: 20px;
    .invisible-lg {
      display: none;
      visibility: hidden;
    }

    .visible-lg {
      display: block;
      visibility: visible;
    }
  }
}

h1{
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

p {
 font-size: 1rem;
}

body {
  background-color: #F8F8F8;
  font-weight: normal;
  margin: .25rem;
  white-space: nowrap;

  > footer {
    font-size: @fontSizeSmall;
    background-color: white;
    position: fixed;
    bottom: 0;
    padding: 0.1rem 0.25rem;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }

  .ng-cloak, .ng-hide {
    display: none !important;
  }

  /* Controls */
  input[type=text], input[type=number], input[type=email], button, select {
    border: 1px solid #AAA;
    box-sizing: border-box;
    outline: 0;
    padding: .5rem .75rem;
    font-size: @fontSizeNormal;
    background: white;

    &:hover:enabled {
      box-shadow: rgba(160, 160, 160, 0.5) 1px 1px 1px 0;
      color: #000;
      border-color: #909090;
    }

    &:focus:enabled {
      outline: 0;
      box-shadow: rgba(160, 160, 160, 0.5) 1px 1px 1px 0;
    }
  }
}

app-header {
  margin-bottom: .5rem;
}

.text-small {
  font-size: @fontSizeSmall;
}

.text-medium {
  font-size: @fontSizeMedium;
}

@import "typicons.less";
@import "packages/client/src/components/create_user_screen/create_user_screen.less";
@import "packages/client/src/components/entry_screen/entry_screen.less";
@import "packages/client/src/components/exercise/exercise.less";
@import "packages/client/src/components/find_widget/find_widget.less";
@import "packages/client/src/components/manage_exercises_screen/manage_exercises_screen.less";
@import "packages/client/src/components/muscle_man/muscle_man.less";
@import "packages/client/src/components/record_widget/record_widget.less";
@import "packages/client/src/components/tag/tag.less";
@import "packages/client/src/components/app_header/app_header.less";

