// The contents of this file are subject to the Common Public Attribution
// License Version 1.0. (the "License"); you may not use this file except in
// compliance with the License. You may obtain a copy of the License at
// https://raw.githubusercontent.com/bgourlie/noBS/master/LICENSE.
// The License is based on the Mozilla Public License Version 1.1, but Sections
// 14 and 15 have been added to cover use of software over a computer network
// and provide for limited attribution for the Original Developer. In addition,
// Exhibit A has been modified to be consistent with Exhibit B.
//
// Software distributed under the License is distributed on an "AS IS" basis,
// WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
// the specific language governing rights and limitations under the License.
//
// The Original Code is noBS Exercise Logger.
//
// The Original Developer is the Initial Developer.  The Initial Developer of
// the Original Code is W. Brian Gourlie.
//
// All portions of the code written by W. Brian Gourlie are Copyright (c)
// 2014-2015 W. Brian Gourlie. All Rights Reserved.

@fontSizeSmall: 1.2vw;
@fontSizeNormal: 1.5vw;

body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: @fontSizeNormal;
  font-weight: normal;
  line-height: 1.2em;
  margin: 5px 15px;

  > header {
    margin-bottom: 10px;

    h3{
      font-size: 2vw;
      display: inline-block;
      margin: 0;
    }

    #splash{
      font-size: 1vw;
    }
  }

  > footer {
    background-color: white;
    font-size: @fontSizeSmall;
    position: fixed;
    bottom: 0;
    padding: 2px 5px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }

  .ng-cloak, .ng-hide {
    display: none !important;
  }

  /* Controls */
  input[type=text], input[type=number], button, select {
    border: 1px solid #AAA;
    box-sizing: border-box;
    outline: 0;
    padding: 5px 10px;
    font-size: 1.5vw;
    background: white;

    &:hover:enabled {
      box-shadow: rgba(160, 160, 160, 0.5) 1px 1px 1px 0;
      color: #000;
      border-color: #909090;
    }

    &:focus:enabled {
      outline: 0;
      box-shadow: rgba(160, 160, 160, 0.5) 1px 1px 1px 0;
    }
  }
}

@import "packages/client/src/components/entry_screen/entry_screen.less";
@import "packages/client/src/components/find_result/find_result.less";
@import "packages/client/src/components/find_widget/find_widget.less";
@import "packages/client/src/components/muscle_man/muscle_man.less";
@import "packages/client/src/components/record_widget/record_widget.less";
@import "packages/client/src/components/tag/tag.less";
@import "packages/client/src/components/version_info/version_info.less";

