body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;

  /deep/ .ng-cloak, /deep/ .ng-hide {
    display: none !important;
  }
}

body /deep/ .ng-cloak {
  display: none !important;
}

header {
  text-align: center;

  > h3{
    margin: 0;
  }
}
